{% extends "index.html" %}
{% block content %}
<div class="row body">
  <div class="col s8 offset-s2">
    <h5>Contact Me:</h5>
    <div>
      <ul class="socialmedia" style="text-align:center">
        <li><a href="https://github.com/Andrewthe13th/"><i class="fab fa-github-square fa-3x"></i></a></li>
        <li><a href="https://www.linkedin.com/in/andrew-de-la-fuente-1663a3117/"><i class="fab fa-linkedin fa-3x"></i></a></li>
      </ul>
    </div>
    <p style="text-align:center">
      email: delafuenteandrew@ymail.com
    </p>
    <p style="text-align:center">
      phone: 1+(714)-380-8023
    </p>
  </div>
</div>
{% endblock %}
