{% extends "index.html" %}
{% block content %}
<div class="body">
  <div class="row">
    <div class="col s4 align-self-end" style="float:none">
      <h7>Updated: 6/7/2019</h7>
    </div>
  </div>
  <div class="row">
    <div class="col s10 m8 l4 offset-s1 offset-m2 offset-l4">
      <h5>About:</h5>
      <p>
        Recent graduate from California State University Fullerton, looking for employment. I mainly like to develop using web technologies but am open for any kind of work. At the moment am practicing using javascript Frameworks.
      </p>
    </div>
    </div>
    <div class="row">
    <div class="col s10 m8 l4 offset-s1 offset-m2 offset-l4">
      <h5 >Social Media:</h5>
      <ul class="socialmedia">
        <li><a href="https://github.com/Andrewthe13th/Personal-Website"><i class="fab fa-github-square fa-3x"></i></a></li>
        <li><a href="https://www.linkedin.com/in/andrew-de-la-fuente-1663a3117/"><i class="fab fa-linkedin fa-3x"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s10 m8 l4 offset-s1 offset-m2 offset-l4">
      <h5>CodeWars Ranking: </h5>
      <img src="https://www.codewars.com/users/Andrewthe13th/badges/large"/>
    </div>
  </div>
  <!--Projects-->
  <div class="row">
    <div class="col s12 m9 l9 offset-m2 offset-l2">
        <h5>Projects:</h5>
    </div>
    <div class="col s12 m9 l9 offset-m2 offset-l2 cards-container">
      <div class="card">
        <div class="card-content">
          <span class="title">
            <h5>My Personal Website</h5>
          </span>
          <p>Tech Used: Flask, Python, GCS, HTML5, CSS, Bootstrap</p>
          <hr>
          <p>
            This website was created for personal use to display my accomplishments and projects. It is currently hosted under Google Cloud's app engine.
          </p>
        </div>
        <div class="card-content">
          <img src="{{url_for('static',filename='images/website.jpg')}}" alt=""/ class="img-fluid">
        </div>
        <div class="card-action">
          <ul class="projectLink">
            <li><a href="https://github.com/Andrewthe13th/Personal-Website"><i class="fab fa-github-square fa-3x"></i></a></li>
            <li><a href="https://www.andrewdelafuente.com/"><i class="fas fa-external-link-square-alt fa-3x"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</div>

{% endblock %}
